body{
    background: #222;
    color: #fff;
    max-width: 700px;
    margin: 0 auto;
    font-family: 'Ubuntu';
    font-weight: 300;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Droid Serif';
    font-weight: 400;
}

a{
    color: #fff;
}

p{
    line-height: 1.5em;
}

/*** MAIN HEADER ***/

#main-header{
    margin-top: 60px;
    margin-bottom: 30px;
}
#main-header h1{
    margin: 0;
    text-align: center;
}
/*** MAIN NAVBAR ***/

#main-navbar{
    border: 3px solid #e65634;
    border-left: none;
    border-right: none;
}
#main-navbar ul{
    list-style: none;
    margin:20px 0 20px 20px;
    padding: 0;
    text-align: center;
}
#main-navbar ul li{
    display: inline-block;
    margin-right: 20px;
    
}
#main-navbar ul li a{
    text-decoration: none;
}
#main-navbar ul li a:hover,
#main-navbar ul li a:active
{
    text-decoration: underline;
    
}

/*** MAIN CONTAINER ***/

#main-container{
    margin-top: 60px;
}
#main-container::after{ /* Clearfix */
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
#main-container .content{
    width: 400px;
}
#main-container .col-layout{
    float: left;
    margin-right: 40px;
}
#main-container #sidebar{
    width: 260px;
    float: right;
}
